<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="site/head::head(${commons.site_title()},${commons.google_site_verification()}, ${commons.baidu_site_verification()})"></div>




<body>

<i class="icon-music-outer">
    <i class="forbid icon-music"></i> <!--控制音乐图标-->
    <audio loop autoplay="autoplay" controls id="bgMusic" src="http://47.107.251.92:8081/music/Jay2.mp3">
    </audio>
</i>

    	<!-- header -->

        <div th:replace="site/header::header"></div>


        <!-- header -->

        <!-- main -->

        <main role="main-inner-wrapper" class="container">

        	

            <div class="row">

            

            	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                	<article role="pge-title-content">

                    	<header>

                        	<h2><span>Hi! </span>欢迎您，我的新朋友！</h2>

                        </header>

                        <p>Waiting for you!</p>

                    </article>

                </section>

                

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                	<article class="about-content">

                        <p>行走在热闹的街角</p>
                        <p>你双脚匆忙，神情略微慌张</p>
                        <p>手里牵着全家的希望</p>
                        <p>这些年，你学会了懂得与珍惜，呵护与关爱</p>
                        <p>沧海桑田，世事变迁</p>
                        <p>唯一没有变的是你那颗温柔善良纯洁的心</p>

                    </article>

                </section>

                

                <div class="clearfix"></div>

                

                <!-- thumbnails -->

                	<div class="thumbnails-pan">
                        <th:block th:each="link,linkStat : ${links}">
                            <th:block th:if="${linkStat.index < 3}">
                                <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">

                                    <figure>

                                        <img th:src="@{'/site/images/about-images/about-image-' + ${linkStat.index+1} + '.jpg'}" th:onclick="'javascript:linkFirend(\''+${link.slug}+'\')'" class="img-responsive"/>

                                        <figcaption>

                                            <h3><th:block th:text="${link.name}"></th:block></h3>

                                            <h5><th:block th:text="${link.description}"></th:block></h5>

                                        </figcaption>

                                    </figure>

                                </section>
                            </th:block>

                        </th:block>



                        

                     

                    </div>

                <!-- thumbnails -->

                

                

            </div>

        </main>

    	<!-- main -->

        <!-- footer -->

        <div th:replace="site/footer::footer(${commons.site_title()},${commons.site_record()},${commons.site_url()})"></div>

</body>
</html>